input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-family: Montserrat-Light, sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.control-unit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-unit-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-image,.change-language,.toggle-button{
  margin: 0 5px;
}

.refresh-image {
  width: 44px;
  height: 44px;
  background: rgba(180, 184, 187, 0.4);
  border-radius: 5px;
  border-style: none;
}

.change-language{
  width: 71px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  border-style: none;
}

.temperature-c, .temperature-f {
  width: 44px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4);
  border-style: none;
}

.temperature-c{
  border-radius: 0 5px 5px 0;
  margin-right: 10px;
}

.temperature-f{
  border-radius: 5px 0 0 5px;
  margin-left: 10px;
}

.button-active{
  background: rgba(174, 181, 185, 0.5);
}

.search{
  width: 274px;
  height: 40px;
  background: rgba(76, 82, 85, 0.15);
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-radius: 5px 0 0 5px;
}

input[type="text"]{
  color: white;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

.search:focus{
  outline: none;
}

.search-button{
  width: 101px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  border-style: none;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.refresh-image:focus, .search-container:focus, .search-button:focus, .temperature-c:focus, .temperature-f:focus, .change-language:focus{
  outline: none;
}

.refresh-image, .search-container, .search-button, .temperature-c, .temperature-f, .change-language{
  color: #FFFFFF;
  font-family: Montserrat-Bold, sans-serif;
}

.today{
  display: flex;
  flex-direction: column;
}

.day-info{
  display: flex;
  align-items: flex-end;
}

.city{
  font-size: 44px;
  line-height: 54px;
  margin: 0;
  text-transform: uppercase;
}

.date{
  font-size: 24px;
}

ul{
  list-style-type: none;
}

.temperature-value{
  font-size: 306px;
  line-height: 373px;
}

.day-condition, .feeling, .wind, .humidity {
  font-size: 22px;
  line-height: 37px;
  text-transform: uppercase;
}

.day-param{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

.weather-icon{
  width: 250px;
  position: absolute;

  left: 26.74%;
  top: 22.5%;
}

.next-three{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 585px;

}
.day{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.day-of-week{
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  font-size: 22px;
}

.day-of-week-param{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.day-value{
  font-size: 80px;
}

.day-weather-icon{
  position: relative;
  width: 100px;
  right: 30px;
  bottom: 15px;
}

.location-param{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.latitude, .longitude{
  font-size: 20px;
}

#map{
  width: 375px;
  height: 375px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

@font-face {
  font-family: 'Montserrat-HardLine';
  src: url('../assets/fonts/montserrathairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../assets/fonts/montserratlight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/montserratbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../assets/fonts/montserratblack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
